<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>525280596460-vl0fojrismefj9hcrv6vj79tj19j4g5t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.525280596460-vl0fojrismefj9hcrv6vj79tj19j4g5t</string>
	<key>API_KEY</key>
	<string>AIzaSyC69hkqKMnqnY7wLUDYzJJv4Owfqz4FDJw</string>
	<key>GCM_SENDER_ID</key>
	<string>525280596460</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>MasateruMaegawa.Event-Attendance</string>
	<key>PROJECT_ID</key>
	<string>eventattendance-350b1</string>
	<key>STORAGE_BUCKET</key>
	<string>eventattendance-350b1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:525280596460:ios:98a8730441e9f41ccd70c9</string>
	<key>DATABASE_URL</key>
	<string>https://eventattendance-350b1.firebaseio.com</string>
</dict>
</plist>